{
  "printWidth": 180,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "semi": true,
  "arrowParens": "always",
  "jsxSingleQuote": false,
  "htmlWhitespaceSensitivity": "ignore",
  "bracketSameLine": true,
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-tailwindcss"]
}
